.container{
  display: inline-block;
  background-color:darksalmon;
  height: 1000px;
  width: 50%;
}

.container2{
  display:inline-block;
 background-color:grey;
 height: 1000px;
 width: 50%;
}

h1{
  text-align: center;
}